# MAC PC
.DS_Store

# iOS App
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
Main/SampleSwiftLibrary/Originlib/OriginalFramework.framework
Main/SampleSwiftLibrary/Originlib/OriginalXCFramework.xcframework

# vim
*.swp

# Other
OriginalXCFramework/Output